.form-wrapper {
  //   border: 1px solid red;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  .form-heading {
    text-align: center;
    font-weight: bold;
  }
  .form-container {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px auto;
    .submit-btn {
      margin-bottom: 10px;
      height: 40px;
    }
    .link-wrap {
      display: flex;
      justify-content: center;
      .switch-link {
        font-weight: bold;
        font-size: 14px;
        // text-decoration: none;
        color: #0000ff !important;
      }
    }
    .forgot-pass {
      align-self: flex-end;
      font-weight: 500;
      font-size: 14px;
      // text-decoration: none;
      color: #0000ff !important;
    }
    .divider {
      margin: 10px 0;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .h-div {
        border-top: 1px solid gray;
        flex-grow: 1;
      }
      .left-div {
        margin-right: 10px;
      }
      .right-div {
        margin-left: 10px;
      }
      .or {
        font-weight: bold;
      }
    }
  }
}

.forgot-pass-form {
  display: flex;
  flex-flow: column nowrap;
  width: 450px;
  margin: 30px auto;
  padding: 16px;

  .title {
    margin: 16px 0;
  }
  .text-field {
    width: 100%;
  }
  .otp-input {
    margin: 16px 0;
    input {
      height: 20px;
    }
  }
}
